<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC '-//mybatis.org//DTD mapper 3.0//EN'
'http://mybatis.org/dtd/mybatis-3-mapper.dtd'>
<mapper namespace="com.wisdom.common.mapper.CompanyMapper">
<cache />
<resultMap type="com.wisdom.common.model.Company" id="Company">  
<result property="id" column="id"/> 
<result property="name" column="name"/>
<result property="parent_id" column="parent_id"/>
<result property="level" column="level"/>
<result property="create_time" column="create_time"/>     
</resultMap>

  

 <select id="getAllCompanies" resultType="Company">
	select id, name, parent_id, level, create_time from company
</select>
<select id="getCompaniesByUid" resultType="Company">
	select c.id, c.name,c.parent_id, c.level, c.create_time from company c 
	left join user_company uc on c.id = uc.company_id
	where uc.user_id = #{uid}
</select>

<select id="getXiangmuCompaniesByUid" resultType="Company">
select id, name,parent_id, level, create_time from company where parent_id in (select b.id
from user_company as a, company as b
where a.user_id=#{uid} and a.company_id=b.id and b.level=1)
</select>

<select id="getXiaoXiangFengGongsiCompaniesByUid" resultType="Company">
select id, name,parent_id, level, create_time from company where parent_id=#{companyId} and parent_id in (select b.id
from user_company as a, company as b
where a.user_id=#{uid} and a.company_id=b.id and b.level=1)
</select>

<select id="getParentCompanyById" resultType="Company">
SELECT id, name, parent_id, level, create_time FROM company where id = (select parent_id from company where id = #{id});
</select>
<select id="getChildCompanyById" resultType="Company">
SELECT id, name, parent_id, level, create_time FROM company where id in (select id from company where parent_id = #{id});
</select>
<insert id="addXiangMuCompany" parameterType="String"  useGeneratedKeys="true" keyProperty="id" keyColumn="id">
insert into company (name, parent_id, level, create_time)
values(#{name},#{parent_id},#{level},#{create_time})
</insert>

<insert id="updateCompanyName" parameterType="String">
update company set name=#{companyName}
where id=#{id}
</insert>

</mapper>