<?xml version="1.0" encoding="UTF-8"?>
    <!DOCTYPE mapper PUBLIC '-//mybatis.org//DTD mapper 3.0//EN'
    'http://mybatis.org/dtd/mybatis-3-mapper.dtd'>
<mapper namespace="com.wisdom.common.mapper.KaiPiaoShenQingDanMapper">
<cache />

<resultMap type="com.wisdom.common.model.KaiPiaoShenQingDan" id="KaiPiaoShenQingDan">
<result property="id" column="id"/>
<result property="fengongsimingcheng" column="fengongsimingcheng"/>
<result property="xiangmubu" column="xiangmubu"/>
<result property="xiangmumingcheng" column="xiangmumingcheng"/>
<result property="hetongzongjine" column="hetongzongjine"/>
<result property="shenqingriqi" column="shenqingriqi"/>
<result property="kaijufapiao" column="kaijufapiao"/>
<result property="shouqikuanxiang" column="shouqikuanxiang"/>
<result property="wangongjindu" column="wangongjindu"/>
<result property="qita" column="qita"/>
<result property="kaipiaoneirong" column="kaipiaoneirong"/>
<result property="tianbiaoren" column="tianbiaoren"/>
<result property="tianbiaorendianhua" column="tianbiaorendianhua"/>
<result property="tianbiaoriqi" column="tianbiaoriqi"/>
<result property="kaipiaoqingkuangbiao_xiangmu_id" column="kaipiaoqingkuangbiao_xiangmu_id"/>
<result property="fuheren" column="fuheren"/>
</resultMap>

<insert id="addKaiPiaoShenQingDan" parameterType="String"  useGeneratedKeys="true" keyProperty="id" keyColumn="id">
insert into kaipiaoshenqingdan (fengongsimingcheng, xiangmubu,xiangmumingcheng,hetongzongjine,shenqingriqi,kaijufapiao,shouqikuanxiang,wangongjindu,qita,kaipiaoneirong,tianbiaoren,tianbiaorendianhua,tianbiaoriqi,kaipiaoqingkuangbiao_xiangmu_id,fuheren)
values(#{fengongsimingcheng},#{xiangmubu},#{xiangmumingcheng},#{hetongzongjine},#{shenqingriqi},#{kaijufapiao},#{shouqikuanxiang},#{wangongjindu},#{qita},#{kaipiaoneirong},#{tianbiaoren},#{tianbiaorendianhua},#{tianbiaoriqi},#{kaipiaoqingkuangbiao_xiangmu_id},#{fuheren})
</insert>

<update id="updateKaiPiaoShenQingDan" parameterType="String">
update kaipiaoshenqingdan set xiangmubu=#{xiangmubu},xiangmumingcheng=#{xiangmumingcheng},hetongzongjine=#{hetongzongjine},shenqingriqi=#{shenqingriqi},kaijufapiao=#{kaijufapiao},shouqikuanxiang=#{shouqikuanxiang},wangongjindu=#{wangongjindu},qita=#{qita},kaipiaoneirong=#{kaipiaoneirong},tianbiaoren=#{tianbiaoren},tianbiaorendianhua=#{tianbiaorendianhua},tianbiaoriqi=#{tianbiaoriqi},kaipiaoqingkuangbiao_xiangmu_id=#{kaipiaoqingkuangbiao_xiangmu_id},fuheren=#{fuheren}
where id=#{id}
</update>
<select id="getKaiPiaoShenQingDanById" parameterType="Long" resultType="KaiPiaoShenQingDan">
select id,fengongsimingcheng,xiangmubu,xiangmumingcheng,hetongzongjine,shenqingriqi,kaijufapiao,shouqikuanxiang,wangongjindu,qita,kaipiaoneirong,tianbiaoren,tianbiaorendianhua,tianbiaoriqi,kaipiaoqingkuangbiao_xiangmu_id,fuheren
from kaipiaoshenqingdan
where id=#{id}
</select>

<select id="getKaiPiaoShenQingDanByKaipiaoqingkuangbiao_xiangmu_id" parameterType="Long" resultType="KaiPiaoShenQingDan">
select id,fengongsimingcheng,xiangmubu,xiangmumingcheng,hetongzongjine,shenqingriqi,kaijufapiao,shouqikuanxiang,wangongjindu,qita,kaipiaoneirong,tianbiaoren,tianbiaorendianhua,tianbiaoriqi,kaipiaoqingkuangbiao_xiangmu_id,fuheren
from kaipiaoshenqingdan
where kaipiaoqingkuangbiao_xiangmu_id=#{kaipiaoqingkuangbiao_xiangmu_id}
</select>
</mapper>