<?xml version="1.0" encoding="UTF-8"?>
        <!DOCTYPE mapper PUBLIC '-//mybatis.org//DTD mapper 3.0//EN'
        'http://mybatis.org/dtd/mybatis-3-mapper.dtd'>
<mapper namespace="com.wisdom.common.mapper.KaiPiaoQingKuangBiao_ZongGongSiMapper">
<cache />

<resultMap type="com.wisdom.common.model.KaiPiaoQingKuangBiao_ZongGongSi" id="KaiPiaoQingKuangBiao_ZongGongSi">
<result property="beizhu" column="beizhu"/>
<result property="hejijine" column="hejijine"/>
<result property="yikaipiaojine" column="yikaipiaojine"/>
<result property="wangongjindu" column="wangongjindu"/>
<result property="erji_shenhe_status" column="erji_shenhe_status"/>
<result property="yijishenheren" column="yijishenheren"/>
<result property="qita" column="qita"/>
<result property="shengqingkaipiaoshijian" column="shengqingkaipiaoshijian"/>
<result property="yiji_shenhe_status" column="yiji_shenhe_status"/>
<result property="shuie" column="shuie"/>
<result property="buhanshuijine" column="buhanshuijine"/>
<result property="erjishenheren" column="erjishenheren"/>
<result property="fenbaofapiao" column="fenbaofapiao"/>
<result property="erji_shenhe_beizhu" column="erji_shenhe_beizhu"/>
<result property="yiji_shenhe_beizhu" column="yiji_shenhe_beizhu"/>
<result property="shouqikuanxiang" column="shouqikuanxiang"/>
<result property="kaijufapiao" column="kaijufapiao"/>
<result property="id" column="id"/>
<result property="xiangmutaizhang_id" column="xiangmutaizhang_id"/>
</resultMap>

<select id="getKaiPiaoQingKuangBiao_ZongGongSiById" resultType="KaiPiaoQingKuangBiao_ZongGongSi">
select beizhu,hejijine,yikaipiaojine,wangongjindu,erji_shenhe_status,yijishenheren,qita,shengqingkaipiaoshijian,yiji_shenhe_status,shuie,buhanshuijine,erjishenheren,fenbaofapiao,erji_shenhe_beizhu,yiji_shenhe_beizhu,shouqikuanxiang,kaijufapiao,id,xiangmutaizhang_id
from kaipiaoqingkuangbiao_zonggongsi
where id=#{id}
</select>

<update id="updateKaiPiaoQingKuangBiao_ZongGongSi">
update kaipiaoqingkuangbiao_zonggongsi set beizhu=#{beizhu},hejijine=#{hejijine},yikaipiaojine=#{yikaipiaojine},wangongjindu=#{wangongjindu},erji_shenhe_status=#{erji_shenhe_status},yijishenheren=#{yijishenheren},qita=#{qita},shengqingkaipiaoshijian=#{shengqingkaipiaoshijian},yiji_shenhe_status=#{yiji_shenhe_status},shuie=#{shuie},buhanshuijine=#{buhanshuijine},erjishenheren=#{erjishenheren},fenbaofapiao=#{fenbaofapiao},erji_shenhe_beizhu=#{erji_shenhe_beizhu},yiji_shenhe_beizhu=#{yiji_shenhe_beizhu},shouqikuanxiang=#{shouqikuanxiang},kaijufapiao=#{kaijufapiao},id=#{id},xiangmutaizhang_id=#{xiangmutaizhang_id}
where id=#{id}
</update>

<insert id="addKaiPiaoQingKuangBiao_ZongGongSi">
insert into kaipiaoqingkuangbiao_zonggongsi (beizhu,hejijine,yikaipiaojine,wangongjindu,erji_shenhe_status,yijishenheren,qita,shengqingkaipiaoshijian,yiji_shenhe_status,shuie,buhanshuijine,erjishenheren,fenbaofapiao,erji_shenhe_beizhu,yiji_shenhe_beizhu,shouqikuanxiang,kaijufapiao,id,xiangmutaizhang_id)
values (#{beizhu},#{hejijine},#{yikaipiaojine},#{wangongjindu},#{erji_shenhe_status},#{yijishenheren},#{qita},#{shengqingkaipiaoshijian},#{yiji_shenhe_status},#{shuie},#{buhanshuijine},#{erjishenheren},#{fenbaofapiao},#{erji_shenhe_beizhu},#{yiji_shenhe_beizhu},#{shouqikuanxiang},#{kaijufapiao},#{id},#{xiangmutaizhang_id})
</insert>

</mapper>