<?xml version="1.0" encoding="UTF-8"?>
        <!DOCTYPE mapper PUBLIC '-//mybatis.org//DTD mapper 3.0//EN'
        'http://mybatis.org/dtd/mybatis-3-mapper.dtd'>
<mapper namespace="com.wisdom.common.mapper.KaiPiao_PuTongFaPiaoMapper">
<cache />

<resultMap type="com.wisdom.common.model.KaiPiao_PuTongFaPiao" id="KaiPiao_PuTongFaPiao">
<result property="hejijine" column="hejijine"/>
<result property="kaipiaoneirong" column="kaipiaoneirong"/>
<result property="shuilv" column="shuilv"/>
<result property="field2" column="field2"/>
<result property="field3" column="field3"/>
<result property="field1" column="field1"/>
<result property="shenqingriqi" column="shenqingriqi"/>
<result property="shuie" column="shuie"/>
<result property="xiaoshoue" column="xiaoshoue"/>
<result property="field4" column="field4"/>
<result property="xiaoji" column="xiaoji"/>
<result property="id" column="id"/>
<result property="kaipiaoshenqingdan_id" column="kaipiaoshenqingdan_id"/>
</resultMap>

<select id="getKaiPiao_PuTongFaPiaoById" resultType="KaiPiao_PuTongFaPiao">
select hejijine,kaipiaoneirong,shuilv,field2,field3,field1,shenqingriqi,shuie,xiaoshoue,field4,xiaoji,id,kaipiaoshenqingdan_id
from kaipiao_putongfapiao
where id=#{id}
</select>

<select id="getKaiPiao_PuTongFaPiaoByKaipiaoqingkuangbiao_xiangmu_id" resultType="KaiPiao_PuTongFaPiao">
select * from kaipiao_putongfapiao WHERE kaipiaoshenqingdan_id = (select id from kaipiaoshenqingdan WHERE kaipiaoqingkuangbiao_xiangmu_id = #{kaipiaoshenqingdan_id})
</select>

<update id="updateKaiPiao_PuTongFaPiao">
update kaipiao_putongfapiao set hejijine=#{hejijine},kaipiaoneirong=#{kaipiaoneirong},shuilv=#{shuilv},field2=#{field2},field3=#{field3},field1=#{field1},shenqingriqi=#{shenqingriqi},shuie=#{shuie},xiaoshoue=#{xiaoshoue},field4=#{field4},xiaoji=#{xiaoji},id=#{id},kaipiaoshenqingdan_id=#{kaipiaoshenqingdan_id}
where id=#{id}
</update>

<insert id="addKaiPiao_PuTongFaPiao"  useGeneratedKeys="true" keyProperty="id" keyColumn="id">
insert into kaipiao_putongfapiao (hejijine,kaipiaoneirong,shuilv,field2,field3,field1,shenqingriqi,shuie,xiaoshoue,field4,xiaoji,id,kaipiaoshenqingdan_id)
values (#{hejijine},#{kaipiaoneirong},#{shuilv},#{field2},#{field3},#{field1},#{shenqingriqi},#{shuie},#{xiaoshoue},#{field4},#{xiaoji},#{id},#{kaipiaoshenqingdan_id})
</insert>

</mapper>