<?xml version="1.0" encoding="UTF-8"?>
    <!DOCTYPE mapper PUBLIC '-//mybatis.org//DTD mapper 3.0//EN'
    'http://mybatis.org/dtd/mybatis-3-mapper.dtd'>
<mapper namespace="com.wisdom.common.mapper.XiangMuTaiZhangMapper">
<cache />

<resultMap type="com.wisdom.common.model.XiangMuTaiZhang" id="XiangMuTaiZhang">
<result property="fengongsimingcheng" column="fengongsimingcheng"/>
<result property="xiangmubu" column="xiangmubu"/>
<result property="danweimingcheng" column="danweimingcheng"/>
<result property="fadingdaibiaoren_lianxidianhua" column="fadingdaibiaoren_lianxidianhua"/>
<result property="nashuirenshibiehao" column="nashuirenshibiehao"/>
<result property="kaihuyinhang_yinhangzhanghao" column="kaihuyinhang_yinhangzhanghao"/>
<result property="danweidizhi_lianxidianhua" column="danweidizhi_lianxidianhua"/>
<result property="xiangmumingcheng" column="xiangmumingcheng"/>
<result property="xiangmufuzeren_lianxidianhua" column="xiangmufuzeren_lianxidianhua"/>
<result property="hetongleixing" column="hetongleixing"/>
<result property="nashuileixing" column="nashuileixing"/>
<result property="shuilv" column="shuilv"/>
<result property="zhengshoulv" column="zhengshoulv"/>
<result property="buhanshuijine" column="buhanshuijine"/>
<result property="shuie" column="shuie"/>
<result property="hejijine" column="hejijine"/>
<result property="juesuanjine" column="juesuanjine"/>
<result property="yujihetongzongchengben" column="yujihetongzongchengben"/>
<result property="hetongqiandingshijian" column="hetongqiandingshijian"/>
<result property="hetongkaigongshijian" column="hetongkaigongshijian"/>
<result property="kaigongxukezhengshijian" column="kaigongxukezhengshijian"/>
<result property="yujiwangongshijian" column="yujiwangongshijian"/>
<result property="hetongfukuanfangshi" column="hetongfukuanfangshi"/>
<result property="company_id" column="company_id"/>
</resultMap>

<insert id="addXiangMuTaiZhang" useGeneratedKeys="true" keyProperty="id" keyColumn="id">
insert into xiangmutaizhang (fengongsimingcheng, xiangmubu,danweimingcheng,fadingdaibiaoren_lianxidianhua,nashuirenshibiehao,kaihuyinhang_yinhangzhanghao,danweidizhi_lianxidianhua,xiangmumingcheng,xiangmufuzeren_lianxidianhua,hetongleixing,nashuileixing,shuilv,zhengshoulv,buhanshuijine,shuie,hejijine,juesuanjine,yujihetongzongchengben,hetongqiandingshijian,hetongkaigongshijian,kaigongxukezhengshijian,yujiwangongshijian,hetongfukuanfangshi,company_id)
values(#{fengongsimingcheng},#{xiangmubu},#{danweimingcheng},#{fadingdaibiaoren_lianxidianhua},#{nashuirenshibiehao},#{kaihuyinhang_yinhangzhanghao},#{danweidizhi_lianxidianhua},#{xiangmumingcheng},#{xiangmufuzeren_lianxidianhua},#{hetongleixing},#{nashuileixing},#{shuilv},#{zhengshoulv},#{buhanshuijine},#{shuie},#{hejijine},#{juesuanjine},#{yujihetongzongchengben},#{hetongqiandingshijian},#{hetongkaigongshijian},#{kaigongxukezhengshijian},#{yujiwangongshijian},#{hetongfukuanfangshi},#{company_id})
</insert>

<update id="updateXiangMuTaiZhang" >
update xiangmutaizhang set fengongsimingcheng=#{fengongsimingcheng},xiangmubu=#{xiangmubu},danweimingcheng=#{danweimingcheng},fadingdaibiaoren_lianxidianhua=#{fadingdaibiaoren_lianxidianhua},nashuirenshibiehao=#{nashuirenshibiehao},kaihuyinhang_yinhangzhanghao=#{kaihuyinhang_yinhangzhanghao},danweidizhi_lianxidianhua=#{danweidizhi_lianxidianhua},xiangmumingcheng=#{xiangmumingcheng},xiangmufuzeren_lianxidianhua=#{xiangmufuzeren_lianxidianhua},hetongleixing=#{hetongleixing},nashuileixing=#{nashuileixing},shuilv=#{shuilv},zhengshoulv=#{zhengshoulv},buhanshuijine=#{buhanshuijine},shuie=#{shuie},hejijine=#{hejijine},juesuanjine=#{juesuanjine},yujihetongzongchengben=#{yujihetongzongchengben},hetongqiandingshijian=#{hetongqiandingshijian},hetongkaigongshijian=#{hetongkaigongshijian},kaigongxukezhengshijian=#{kaigongxukezhengshijian},yujiwangongshijian=#{yujiwangongshijian},hetongfukuanfangshi=#{hetongfukuanfangshi},company_id=#{company_id}
where id=#{id}
</update>
<select id="getXiangMuTaiZhangById" parameterType="Integer" resultType="XiangMuTaiZhang">
select id,fengongsimingcheng,xiangmubu,danweimingcheng,fadingdaibiaoren_lianxidianhua,nashuirenshibiehao,kaihuyinhang_yinhangzhanghao,danweidizhi_lianxidianhua,xiangmumingcheng,xiangmufuzeren_lianxidianhua,nashuileixing,hetongleixing,shuilv,zhengshoulv,buhanshuijine,shuie,hejijine,juesuanjine,yujihetongzongchengben,hetongqiandingshijian,hetongkaigongshijian,kaigongxukezhengshijian,yujiwangongshijian,hetongfukuanfangshi,company_id
from xiangmutaizhang
where id=#{id}
</select>
<select id="getXiangMuTaiZhangByCompany_id" parameterType="Long" resultType="XiangMuTaiZhang">
select id,fengongsimingcheng,xiangmubu,danweimingcheng,fadingdaibiaoren_lianxidianhua,nashuirenshibiehao,kaihuyinhang_yinhangzhanghao,danweidizhi_lianxidianhua,xiangmumingcheng,xiangmufuzeren_lianxidianhua,nashuileixing,hetongleixing,shuilv,zhengshoulv,buhanshuijine,shuie,hejijine,juesuanjine,yujihetongzongchengben,hetongqiandingshijian,hetongkaigongshijian,kaigongxukezhengshijian,yujiwangongshijian,hetongfukuanfangshi,company_id
from xiangmutaizhang
where company_id=#{company_id}
</select>
<update id="updateTime">
update xiangmutaizhang set hetongqiandingshijian=#{hetongqiandingshijian}
where id=#{id}
</update>
<insert id="addTime">
insert into xiangmutaizhang  (hetongqiandingshijian) values (#{hetongqiandingshijian})
</insert>
</mapper>