<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>个人设置</title>


<link rel="stylesheet" type="text/css" href="/css/webcss/global.css"/>
<link rel="stylesheet" type="text/css" href="/css/webcss/jquery.dataTables.min.css">
<link rel="stylesheet" href="/css/webcss/bootstrap.css" />
<link rel="stylesheet" href="/css/webcss/bootstrap-theme.css" />
<script src="/js/webjs/jquery-1.11.3.js"></script>
<link rel="stylesheet" type="text/css" href="/css/webcss/jquery-ui.css" />
<link rel="stylesheet" href="/css/webcss/jquery-ui.theme.css"/>
<script src="/js/webjs/jquery-ui.js"></script>
<script src="/js/webjs/navigator.js"></script>
<script type="text/javascript" language="javascript" src="/js/webjs/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="/js/webjs/bload.js"></script>

<style>
	#left-menu{
		width: 25vw;
		position: fixed;
	}
	
	#container{
		margin-left: 30vw;
		margin-top: 15vh;
		width: 40vw;
		height: 40vh;
		border: 1px solid grey;
	}

</style>
</head>

<body>
<div class="nav">
  <div class="container"> <a href="http://localhost:8080/views/webviews/user/setting.html"><img src="/img/webimg/logo-white1.png"></a>
    <ul  id="navigator" class="nav-header">
    </ul>
  </div>
</div>

<!-- Left menu -->
<div id="left-menu"></div>

<!-- Container -->
<div id="container">
	<input id="mask" type="button" value="Mask"/>
	<input id="node" type="button" value="Node"/>
</div>

<!-- Dialog -->
<div id="dialog" >
</div>


<div class="footer">
  <div class="container">
    <p>沪ICP备15012848号 | COPYRIGHT © 2014-2015, BANGBANGZHANG, ALL RIGHTS RESERVED </p>
  </div>
</div>
		   <div id="bloadify"> </div>


<script src="/js/webjs/bootstrap-treeview.min.js"></script>
<script src="/js/webjs/tree-menu.js"></script>
<script>


	/*
		Create dialog
	
	*/
	dialog = $( "#dialog" ).dialog({
	      autoOpen: false,
	      height: 300,
	      width: 350,
	      modal: true,
	      buttons: {
	        "Create an account": function(){
	        	dialog.dialog("close");
	        },
	        Cancel: function() {
	          dialog.dialog( "close" );
	        }
	      },
	      close: function() {
	        form[ 0 ].reset();
	        allFields.removeClass( "ui-state-error" );
	      }
	    });
	 
	    form = dialog.find( "form" ).on( "submit", function( event ) {
	      event.preventDefault();
	      addUser();
	    });
	 
	    $( "#button" ).button().on( "click", function() {
	      dialog.dialog( "open" );
	    });
	
	    
	    /*
	    	Pop up dialog
	    */
	    
	    $("#a3").on("click", function(){
	    	dialog.dialog( "open" );
	    });
	    
	    
	    /*
	    	Submit results
	    */
	    $("#submit").on("click", function(){
	    	var dataSet = {
	    			"description": "描述",
	    			"create_time": "2016-06-01"
	    			
	    	};
	    	$.post("/project/addProject", dataSet, function(data){
	    		
	    		console.log(data);
	    	});
	    	
	    });
	    
	    var bload = $('#bloadify').bload({
			fadeInSpeed		: 600,
			imagePath: '/js/webjs/bloading.gif',
			fullScreen: true,
			maskOpacity		: .6,
			overlay : {
				show		: true,
				color: '#000',
			}
		});

		$("#node").click(function(){
			//$('#left-menu').treeview('expandNode', [ 2, { levels: 1, silent: true } ]);
			var node = $('#left-menu').treeview('getNode', 2);
			$('#left-menu').treeview('selectNode', [ 2, { silent: true } ]);
			var parent = $('#left-menu').treeview('getParent', node);
			console.log(parent);
			$('#left-menu').treeview('expandNode', [ parent.nodeId, { levels: 1, silent: true } ]);
			
		});
	    
		setTimeout(function(){
			bload.hide();
		}, 4000);

</script>
</body>


</html>
