<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">



<link rel="stylesheet" type="text/css" href="/css/webcss/global.css"/>
<link rel="stylesheet" type="text/css" href="/css/webcss/jquery.dataTables.min.css">
<link rel="stylesheet" href="/css/webcss/bootstrap.css" />
<link rel="stylesheet" href="/css/webcss/bootstrap-theme.css" />
<script src="/js/webjs/jquery-1.11.3.js"></script>
<link rel="stylesheet" type="text/css" href="/css/webcss/jquery-ui.css" />
<link rel="stylesheet" href="/css/webcss/jquery-ui.theme.css"/>
<script src="/js/webjs/jquery-ui.js"></script>
<script src="/js/webjs/navigator.js"></script>
<script type="text/javascript" language="javascript" src="/js/webjs/jquery.dataTables.min.js"></script>
<script src="/js/webjs/bootstrap-treeview.min.js"></script>
<script src="/js/webjs/tree-menu.js"></script>
<script src="/js/webjs/global.js"></script>
<style>
	#left-menu{
		width: 25vw;
		position: fixed;
	}
	
	#container{
		margin-left: 27vw;
		margin-top: 20px;
		width: 920px;
		min-width:920px;
		height: 400px;
		min-height:400px;
		overflow-x: auto; overflow-y: auto;
	}
	#but_position{
		margin-left:27vw;
		margin-top: 50px;
	}

</style>
</head>

<body>
<div class="nav">
  <div class="container"> <a href="http://localhost:8080/views/webviews/user/setting.html"><img src="/img/webimg/logo-white1.png"></a>
    <ul  id="navigator" class="nav-header">
    </ul>
  </div>
</div>

<!-- Left menu -->
<div id="left-menu"></div>

<!-- Container -->
<div id="but_position">
	<input id="create_project" type="button" value="创建新项目" class="btn btn-success btn-sm" />
</div>
<div id="container">
</div>
<div class="mask"></div>
<div class="footer">
  <div class="container">
    <p>沪ICP备15012848号 | COPYRIGHT © 2014-2015, BANGBANGZHANG, ALL RIGHTS RESERVED </p>
  </div>
</div>
<script type="text/javascript">
function startPageJS(){
	console.log(global);
	$("#create_project").on("click", function(){
		
	});
}

function nodeClick(node){
	console.log(node);
	var parentNode = $('#left-menu').treeview('getParent', node);
	console.log(parentNode);
	
}
</script>

</body>


</html>
