<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" href="/css/webcss/bootstrap.css" />
<link rel="stylesheet" href="/css/webcss/bootstrap-theme.css" />
<style>
.title{
	margin-left: 20vw;
}

</style>
</head>
<body>

<div>
	<h3 class="title">项目台账</h3>
	<form class="navbar-form navbar-left" role="search">
  <div class="form-group">
    <label>分公司名称</label>
    <input id="fengongsimingcheng" type="text" class="form-control" placeholder="分公司名称"/>
    <label>项目部</label>
    <input id="xiangmubu" type="text" class="form-control" placeholder="项目部"/>
  </div>
  <h3 class="title">甲方基本信息情况表</h3>
</form>
</div>

</body>
</html>