<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">



<link rel="stylesheet" type="text/css" href="/css/webcss/global.css"/>
<link rel="stylesheet" type="text/css" href="/css/webcss/jquery.dataTables.min.css">
<link rel="stylesheet" href="/css/webcss/bootstrap.css" />
<link rel="stylesheet" href="/css/webcss/bootstrap-theme.css" />
<script src="/js/webjs/jquery-1.11.3.js"></script>
<link rel="stylesheet" type="text/css" href="/css/webcss/jquery-ui.css" />
<link rel="stylesheet" href="/css/webcss/jquery-ui.theme.css"/>
<script src="/js/webjs/jquery-ui.js"></script>
<script src="/js/webjs/navigator.js"></script>
<script type="text/javascript" language="javascript" src="/js/webjs/jquery.dataTables.min.js"></script>
<script src="/js/webjs/bootstrap-treeview.min.js"></script>
<script src="/js/webjs/tree-menu.js"></script>

<style>
	#left-menu{
		width: 25vw;
		position: fixed;
	}
	
	#container{
		margin-left: 30vw;
		margin-top: 15vh;
		width: 40vw;
		height: 40vh;
		border: 1px solid grey;
	}

</style>
</head>

<body>
<div class="nav">
  <div class="container"> <a href="http://localhost:8080/views/webviews/user/setting.html"><img src="/img/webimg/logo-white1.png"></a>
    <ul  id="navigator" class="nav-header">
    </ul>
  </div>
</div>

<!-- Left menu -->
<div id="left-menu"></div>

<!-- Container -->
<div id="container">
html填这里！！！！！！！！！！！！！！！！！！！！！！！！
</div>



<div class="mask"></div>
<div class="footer">
  <div class="container">
    <p>沪ICP备15012848号 | COPYRIGHT © 2014-2015, BANGBANGZHANG, ALL RIGHTS RESERVED </p>
  </div>
</div>


</body>


</html>
